

        body {
            background-color: lavender;
            text-align: center;
            border: blue;
            font: 27px;
            
            
        }
        img{
            width: 160px;
            height: 100px;
        }

        